<launch>
    <!--모바일로봇 URDF 모델을 매개변수 서버로 적재-->
    <param name="robot_description" textfile="$(find myrobot)/urdf/mobile_robot_dqn_2.urdf"/>
    <arg name="x_pos" default="0"/>
    <arg name="y_pos" default="0"/>
    <arg name="z_pos" default="0.12"/>
    
    <!--빈 세계와 함께 가제보 시작-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find myrobot)/worlds/12_new_fire_hydrant_wide_empty.world"/>    
    </include>
    
    <!--매개변수 서버로 부터 로봇에 대한 설명(robot_description)을 받아 가제보에서 모바일로봇 실행-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobile_robot_dqn_2 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/>           
    <!-- -Y $(arg yaw) -->
         
    <!--학습시-->
   <node pkg="myrobot" type="mobile_robot_DDPG_2.py" name="mobile_robot_DDPG" output="screen"/> 
    
    
    
</launch>




